*{
margin:0;
padding:0;
}

ul{
    list-style: none;
    display: flex;
    width : 100%;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color:lightcoral
}

li{
    margin-left:10px;
}
a{
    text-decoration:none;
    color:black
}